In [7]:
#Importing the libraries
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import string

In [5]:
#calling the csv file as fname
fname = os.path.join("MetObjects_Subset.csv")
#Reading the file through the pandas library
df_init = pd.read_csv(fname)
#Printing the file
df_init

,Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,...,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository,Tags
0,1979.486.1,False,False,1,The American Wing,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,"Metropolitan Museum of Art, New York, NY",NaN
1,1980.264.5,False,False,2,The American Wing,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,"Metropolitan Museum of Art, New York, NY",NaN
2,67.265.9,False,False,3,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,"Metropolitan Museum of Art, New York, NY",NaN
3,67.265.10,False,False,4,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,"Metropolitan Museum of Art, New York, NY",NaN
4,67.265.11,False,False,5,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,"Metropolitan Museum of Art, New York, NY",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17244,2013.959.1.2,False,False,21788,The American Wing,Cream jug,Cream jug,American,NaN,NaN,...,NaN,NaN,NaN,NaN,Silver,NaN,http://www.metmuseum.org/art/collection/search...,2019-07-31T03:00:40.447Z,"Metropolitan Museum of Art, New York, NY",NaN
17245,"2013.959.1.4a, b",False,False,21789,The American Wing,Sugar bowl,Covered sugar bowl,American,NaN,NaN,...,NaN,NaN,NaN,NaN,Silver,NaN,http://www.metmuseum.org/art/collection/search...,2019-07-26T03:00:41.71Z,"Metropolitan Museum of Art, New York, NY",NaN
17246,2013.959.1.5,False,False,21790,The American Wing,Tray,Tray,American,NaN,NaN,...,NaN,NaN,NaN,NaN,Silver,NaN,http://www.metmuseum.org/art/collection/search...,2019-07-31T03:00:40.447Z,"Metropolitan Museum of Art, New York, NY",NaN
17247,2013.959.1.3aâ€“c,False,False,21791,The American Wing,Kettle,Kettle and stand,American,NaN,NaN,...,NaN,NaN,NaN,NaN,Silver,NaN,http://www.metmuseum.org/art/collection/search...,2019-07-31T03:00:40.447Z,"Metropolitan Museum of Art, New York, NY",NaN
17248,2013.959.11,False,False,21792,The American Wing,Salver,Salver,American,NaN,NaN,...,NaN,NaN,NaN,NaN,Silver,NaN,http://www.metmuseum.org/art/collection/search...,2019-07-31T03:00:40.447Z,"Metropolitan Museum of Art, New York, NY",NaN

In [9]:
percentage = 50.0 #This is the percentage of NaN that we want to erase
drop_count = int(((100-percentage)/100)*df.shape[0] + 1)
df_prob2 = df_init.dropna(axis=1, thrseh=drop_count)

,Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,...,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository,Tags
0,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,False,True,False,True,False,True
1,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,False,True,False,True,False,True
2,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,False,True,False,True,False,True
3,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,False,True,False,True,False,True
4,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,False,True,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17244,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,False,True,False,False,False,True
17245,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,False,True,False,False,False,True
17246,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,False,True,False,False,False,True
17247,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,False,True,False,False,False,True
17248,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,False,True,False,False,False,True